<div class="folders-component">
  <h2>Folders</h2>

  <div class="create-folder">
    <input
      type="text"
      placeholder="New folder name"
      [(ngModel)]="newFolderName"
    />
    <button
      class="button button--primary"
      (click)="createFolder()"
      [disabled]="!newFolderName"
    >
      Create
    </button>
  </div>

  <div *ngIf="loading">Loading folders...</div>

  <ul *ngIf="!loading && folders.length">
    <li *ngFor="let folder of folders">
      <span *ngIf="renameFolderId !== folder.id">{{ folder.name }}</span>
      <input
        *ngIf="renameFolderId === folder.id"
        [(ngModel)]="renameFolderName"
      />

      <button
        *ngIf="renameFolderId !== folder.id"
        class="button button--secondary"
        (click)="startRename(folder)"
      >
        Rename
      </button>
      <button
        *ngIf="renameFolderId === folder.id"
        class="button button--primary"
        (click)="renameFolder()"
      >
        Save
      </button>
      <button
        class="button button--secondary"
        (click)="deleteFolder(folder.id)"
      >
        Delete
      </button>
    </li>
  </ul>

  <div *ngIf="!loading && folders.length === 0">No folders found.</div>
</div>
