.friend-list {
  position: relative;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

app-friend-card {
  flex: 0 0 260px;
}

@media (min-width: 1024px) {
  app-friend-card {
    flex: 0 0 280px;
  }
}
