<section class="friend-list">
  <div class="friend-list__header">
    <h2 class="friend-list__title">
      {{ "friends.list.title" | translate }}
    </h2>

    <div class="friend-list__nav" *ngIf="friends.length > 4">
      <button class="friend-list__nav-btn" (click)="scrollLeft()">
        <lucide-icon name="chevron-left"></lucide-icon>
      </button>
      <button class="friend-list__nav-btn" (click)="scrollRight()">
        <lucide-icon name="chevron-right"></lucide-icon>
      </button>
    </div>
  </div>

  <div #scrollContainer class="friend-list__row">
    <app-friend-card
      *ngFor="let friend of friends"
      [friend]="friend"
      [cardType]="'friend'"
      (message)="onMessage($event)"
      (unfriend)="onUnfriend($event)"
    >
    </app-friend-card>
  </div>

  <ng-template #noFriends>
    <p class="friend-list__empty">
      {{ "friends.list.empty" | translate }}
    </p>
  </ng-template>
</section>
