@use './app/styles/_variable.scss' as v;

body {
  font-family: v.$font-primary;
  font-size: v.$font-size-md;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  width: 100%;
}
