# ========================================
# 🌐 Service Configuration
# ========================================
SERVER_PORT=8081

# ========================================
# 🗄️ Database Configuration (Neo4j Aura)
# ========================================
SPRING_NEO4J_URI=neo4j+s://256e7888.databases.neo4j.io
SPRING_NEO4J_AUTHENTICATION_USERNAME=neo4j
SPRING_NEO4J_AUTHENTICATION_PASSWORD=J_YOsg-fC9ktCpNzM0LbrTzahbOC7mSJ0aAQCMFUdGQ
