# Environment variables for development dependencies
# Copy this file to .env and customize as needed

# MySQL - Aiven MySQL
MYSQL_HOST=mysql-3528d4f7-mysql2.g.aivencloud.com
MYSQL_PORT=10788
MYSQL_PASSWORD=AVNS_rXQKPnnuhoxRkn099hR
MYSQL_USERNAME=avnadmin

# Neo4j - Neo4j Aura
NEO4J_URI=neo4j+s://256e7888.databases.neo4j.io
NEO4J_PASSWORD=J_YOsg-fC9ktCpNzM0LbrTzahbOC7mSJ0aAQCMFUdGQ
NEO4J_USERNAME=neo4j

# MongoDB - MongoDB Atlas
MONGO_URI=mongodb+srv://tranvanhuy12_db_user:nu3xNZ9crMC4xrjv@cluster0.bbfwgos.mongodb.net/
MONGO_HOST=cluster0.bbfwgos.mongodb.net
MONGO_PORT=27017
MONGO_USER=tranvanhuy12_db_user
MONGO_PASSWORD=nu3xNZ9crMC4xrjv

# Redis - Local
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=12345678
