// src/styles/variables.scss

// Fonts
$font-primary: "Quicksand", sans-serif;

// Font Sizes
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;

// Colors
$color-primary: #c2c4c7;
$color-primary-hover: #494b4d;
$color-text: #333;
$color-white: #fff;
$color-bg: #ffffff;
$color-background-hume: #363739;
$cursor-pointer: pointer;
