# Version control
.git
.gitignore

# IDEs and Editors
.idea
.vscode
*.swp
*.iml

# Dependencies and Build Artifacts
node_modules
target
dist
build
bin
obj
vendor/

# Logs and Data
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
redis-data
loki-data
grafana-data
prometheus-data
tempo-data
db-data

# Environment Variables
.env
.env.*
!*.example
!*.sample

# OS Generated
.DS_Store
Thumbs.db
