KAFKA_BOOTSTRAP_SERVERS=127.0.0.1:9092
KAFKA_GROUP_ID=logging-service
KAFKA_AUTO_OFFSET_RESET=earliest
LOKI_ENABLED=true
LOKI_URL=http://localhost:3100
LOKI_USERNAME=
LOKI_PASSWORD=
LOKI_BATCH_SIZE=100
LOKI_TIMEOUT=10
FILE_LOGGER_ENABLED=true
APP_LOG_PATH=./logs/app.log
ERROR_LOG_PATH=./logs/error.log
LOG_MAX_SIZE=15
LOG_MAX_BACKUPS=10
LOG_MAX_AGE=120
LOG_COMPRESS=true
SERVER_PORT=8080
SLACK_WEBHOOK_URL=https://discord.com/api/webhooks/1442853285642895371/nw7rHhxAYXr4KIFPBEWGSydeyDla5Y3kaF1IwYOZ0uN4TNM-8IOQLKsOH2l-0zkAXl05
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1442853285642895371/nw7rHhxAYXr4KIFPBEWGSydeyDla5Y3kaF1IwYOZ0uN4TNM-8IOQLKsOH2l-0zkAXl05
ALERT_EMAIL=codemail.noreply@gmail.com
