<header class="auth-header">
  <div class="header-left">
    <a href="/" class="logo">
      <span class="auth-text" [title]="'HEADER.Home' | translate"
        >PsyConnect</span
      >
    </a>
  </div>

  <div class="header-right">
    <app-dropdown
      [options]="languageOptions"
      [placeholder]="displayLang"
      (selectionChange)="onLanguageChange($event)"
    ></app-dropdown>

    <button
      class="theme-toggle"
      (click)="toggleTheme()"
      [title]="'HEADER.Theme' | translate"
    >
      <span>{{
        isDark ? ("HEADER.Light" | translate) : ("HEADER.Dark" | translate)
      }}</span>
    </button>
  </div>
</header>
