<label class="checkbox-container" [class.disabled]="disabled">
  <input
    type="checkbox"
    [checked]="checked"
    [disabled]="disabled"
    (change)="toggle()"
    class="hidden-input"
  />
  <div class="custom-checkbox" [class.checked]="checked">
    <svg
      *ngIf="checked"
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="14"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="20 6 9 17 4 12"></polyline>
    </svg>
  </div>
  <span class="label-text" *ngIf="label">
    {{ label }}
    <ng-content></ng-content>
  </span>
</label>
