# ========================================
# 🌐 Service Configuration
# ========================================
PORT=8082

# ========================================
# 📧 Email Configuration (SMTP)
# ========================================
SMPT_HOST=smtp.gmail.com
SMPT_PORT=587
SMPT_SERVICE=gmail
SMPT_MAIL=your_email@gmail.com
SMPT_APP_PASS=your_app_password

# ========================================
# 📨 Kafka Configuration
# ========================================
KAFKA_BROKER=localhost:9092
