<div class="field-row" [class.expanded]="isExpanded">
  <div
    class="field-row__header"
    (click)="handleHeaderClick($event)"
    [class.disabled]="editable"
  >
    <span class="field-row__label">{{ label }}</span>

    <ng-container *ngIf="editable">
      <span *ngIf="!isExpanded" class="field-row__arrow">›</span>
    </ng-container>
  </div>

  <div class="field-row__content" *ngIf="isExpanded && editable">
    <div class="field-row__divider"></div>

    <div
      class="field-row__content-inner"
      [class.clickable]="editable"
      (click)="onEditAreaClick($event)"
    >
      <span class="field-row__value">{{ displayValue || "-" }}</span>
      <div class="field-row__actions" *ngIf="editable">
        <span class="field-row__arrow field-row__arrow--down">›</span>
      </div>
    </div>
  </div>
</div>
