# ========================================
# 🌐 Service Configuration
# ========================================
SERVER_PORT=8888

# ========================================
# 🔗 Downstream Services
# ========================================
# Identity Service
IDENTITY_SERVICE_URI=http://localhost:8080
base.url=http://localhost
identity.port=8080

# Profile Service
PROFILE_SERVICE_URI=http://localhost:8081

# Consultation Service
CONSULTATION_SERVICE_URI=http://localhost:8084

# Chat Service
CHAT_SERVICE_URI=ws://localhost:8085

# Recommendation Service
RECOMMENDATION_SERVICE_URI=http://localhost:5000
