<div class="avatar-menu">
  <!-- Avatar button -->
  <div class="avatar-trigger" (click)="toggleMenu()">
    <img [src]="userAvatarUrl" alt="Avatar" class="avatar-img" />
  </div>

  <!-- Dropdown -->
  <div class="dropdown-panel" *ngIf="isOpen">
    <!-- Header -->
    <div class="dropdown-header">
      <img [src]="userAvatarUrl" alt="Avatar" class="avatar-lg" />
      <div class="user-info">
        <div class="name">{{ userName }}</div>
        <div class="email">{{ userEmail }}</div>
      </div>
    </div>
    <hr />

    <!-- Main Actions -->
    <div class="dropdown-section">
      <a routerLink="/account">{{ "AVATAR_MENU.Account" | translate }}</a>
      <a routerLink="/feature/consultation/create-profile">{{ "AVATAR_MENU.Consultation_Profile" | translate }}</a>
      <a routerLink="/account/security">{{
        "AVATAR_MENU.Settings" | translate
      }}</a>
    </div>
    <hr />

    <!-- Logout -->
    <div class="dropdown-section">
      <a (click)="logout()">{{ "AVATAR_MENU.Logout" | translate }}</a>
    </div>
  </div>
</div>
