# Service Configuration
SERVICE_PORT=8083
SERVICE_HOST=localhost

# MongoDB Configuration
DB_HOST=cluster0.bbfwgos.mongodb.net
DB_PORT=27017
DB_USER=tranvanhuy12_db_user
DB_PASS=nu3xNZ9crMC4xrjv
DB_NAME=chatservice
MONGO_URI=mongodb+srv://tranvanhuy12_db_user:nu3xNZ9crMC4xrjv@cluster0.bbfwgos.mongodb.net/chatservice

# Kafka Configuration
KAFKA_ADDRESS=kafka:9094
KAFKA_TOPIC=chat_topic
KAFKA_PARTITION=0
KAFKA_NOTIFICATION_TOPIC=notification_topic

# gRPC Configuration
GRPC_ADDRESS=localhost:50051

# JWT
JWT_SIGNER_KEY=your_jwt_signer_key
