# Service Configuration
SERVICE_PORT=8083
SERVICE_HOST=localhost

# MongoDB Configuration
DB_HOST=your_mongo_host
DB_PORT=27017
DB_USER=your_db_user
DB_PASS=your_db_password
DB_NAME=chatservice
MONGO_URI=mongodb+srv://your_user:your_password@your_cluster.mongodb.net/chatservice

# Kafka Configuration
KAFKA_ADDRESS=kafka:9094
KAFKA_TOPIC=chat_topic
KAFKA_PARTITION=0
KAFKA_NOTIFICATION_TOPIC=notification_topic

# gRPC Configuration
GRPC_ADDRESS=localhost:50051

# JWT
JWT_SIGNER_KEY=your_jwt_signer_key
