<ng-container *ngIf="screenOk; else mobileApp">
  <app-loader></app-loader>
  <app-header *ngIf="!isAuthRoute"></app-header>
  <app-auth-header *ngIf="isAuthRoute"></app-auth-header>

  <div class="app-layout" [class.sidebar-visible]="showSidebar">
    <app-sidebar *ngIf="showSidebar" class="sidebar"></app-sidebar>

    <main
      class="content"
      [@fadeAnimation]="o.isActivated && o.activatedRoute.routeConfig?.path"
    >
      <router-outlet #o="outlet"></router-outlet>
    </main>
  </div>

  <app-toast-container></app-toast-container>
  <app-footer *ngIf="showFooter"></app-footer>
</ng-container>
<ng-template #mobileApp>
  <app-mobile-required></app-mobile-required>
</ng-template>
