<section class="info-block">
  <header class="info-block__header">
    <h3 class="info-block__title">{{ title }}</h3>
    <button
      *ngIf="showEdit"
      class="info-block__edit-btn"
      type="button"
      (click)="onEdit()"
      [attr.aria-label]="'profile.edit.ariaLabel' | translate"
    >
      <span>{{ "profile.edit.button" | translate }}</span>
    </button>
  </header>

  <dl class="info-block__fields">
    <app-info-field
      *ngFor="let field of fields"
      [label]="field.label"
      [value]="field.value"
    ></app-info-field>
  </dl>
</section>
